/*=========== COMMON STYLE ==========*/
.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;
 }
 
 h1,h2,h3,h4,h5,h6,p {
    margin-top: 0;
    margin-bottom: 0;
 }

 ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

 }

 img {
    display: block;
    max-width: 100%;
 }

 .logo {
     text-decoration: none;
     text-transform: uppercase;
     font-family: 'Raleway', sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     color: #4D5AE5;
    
 }
 
 .title {
     font-weight: 700;
     font-size: 36px;
     line-height: 1.11;
     letter-spacing: 0.02em;
     text-align: center;
     text-transform: capitalize;
     margin-bottom: 72px;
     color: #2E2F42;
 }


 .subtitle {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     margin-bottom: 8px;
     color: #2E2F42;
 }

 .text {
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
 }

 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
 }

 .section {
    padding-top: 120px;
    padding-bottom: 120px;
 }

 .container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
 }
 
 /*=========== /COMMON STYLE ==========*/

 /*=========== HEADER STYLE ==========*/

 .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
 }
 .header-container {
    display: flex;
    width: 1158px;
    align-items: center;
 }
 .navigation {
    display: flex;
    align-items: center;
 }

 .menu {
    display: flex;
    gap: 40px;
 }

 .contacts-list {
    display: flex;
    gap: 40px;
    width: 672px;
    justify-content: flex-end;
 }
 .page-header {
     border-bottom: 1px solid #e7e9fc;
     box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
 }

 .header-container {
     display: flex;
     width: 1158px;
     align-items: center;
 }

 .navigation {
     display: flex;
     align-items: center;
 }
 
 .logo-header-span {
    color: #2E2F42;
    
 }
 
 .menu-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #2E2F42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
 }
 .studio {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
.studio::after {
    display: block;
    width: 48px;
    height: 4px;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    background-color: #404BBF;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    content: "";
    position: absolute;
}
 .contacts-link {
    display: block;
    color: #434455;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
 }

 .link:hover,
 .link:focus {
    color: #404BBF;
 }

 
.contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-style: normal;
    color: #434455;   
}
/*=========== /HEADER STYLE ==========*/

/*=========== HERO STYLE ==========*/

.solutions {
    background-color: #2E2F42;
    padding-bottom: 188px;
    padding-top: 188px;
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/mob/people-office_mob.jpg);
    background-size: cover;
    max-width: 1440px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .solutions {
        background-image: url(../images/mob/people-office_mob@2x.jpg);
    }
    
}
@media screen and (min-width: 768px) {
    .solutions {
        background-image: url(../images/people-office.jpg);
    }
    
}
@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .solutions {
        background-image: url(../images/people-office@2x.jpg);
    }

}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    max-width: 496px;
    color: #FFFFFF;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    margin-top: 48px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/*=========== /HERO STYLE ==========*/

/*=========== ADVANTAGES STYLE ==========*/
.advantages {
    background-color: #FFFFFF;
}
.adventages-container {
    justify-content: center;
}

.list-adventages {
    display: flex;
    
}  

.adventages-card {
    width: calc((100% - 72px) / 4);
    
}

.adventages-card:not(:last-child) {
    margin-right: 24px;
}

.svg-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 264px;
    height: 112px;
    border-radius: 4px;
    border: 1px solid #8E8F99;
    background-color: #F4F4FD;
    fill: #2E2F42;
    padding: 24px 100px;
    margin-bottom: 8px;
}

/*=========== /ADVANTAGES STYLE ==========*/

/*=========== TEAM STYLE ==========*/

.team {
    background-color: #F4F4FD;
}

.list-team {
    display: flex;
    gap: 24px;
    
}

.card-list {    
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-team {
    padding: 32px 0;
    display: block;
}

.team-subtitle {
    text-align: center;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
   
 }

.text-team {
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}
.social-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.social-list-link {
    display: flex;
    width: 40px;
    height: 40px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    fill: #F4F4FD;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
    background-color: #404bbf;
}
/*=========== /TEAM STYLE ==========*/

/*=========== PORTFOLIO STYLE ==========*/
.portfolio {
    background-color: #FFFFFF;
}
 
.list-portfolio {
    display: flex;
    gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
    margin-top: 72px;
    
}
.portfolio-list-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list-item:hover {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow:
        0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.card-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-subtitle {
    display: flex;
    justify-content: start;
}

.text-portfolio {
    display: flex;
    justify-content: start;
}
.overlay-box {
    overflow: hidden;
    width: 360px;
    height: 300px;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
    color: #F4F4FD;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    overflow: auto;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
    
}
.portfolio-list-item:hover .overlay {
    transform: translateY(0%);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

/*=========== /PORTFOLIO STYLE ==========*/

/*=========== FOOTER STYLE ==========*/
.footer {
    padding: 100px 0;
    margin-top: 60;
    background-color: #2E2F42;
}
.footer-container {
    display: flex;
    align-items: baseline;
}
.logo-footer-container {
    margin-right: 120px
}
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
}

.logo-footer-span {
    color: #F4F4FD;
}

.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 264px;
    color: #F4F4FD;
}
.social-list-footer {
        display: flex;
        align-items: center;
        gap: 16px;
        
}
.social-container {
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    
}
.footer-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #ffffff;
}
.social-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    fill: #F4F4FD;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link-footer:hover,
.social-link-footer:focus {
    background-color: #31D0AA;
}


.subscribe-container {
    display: flex;
    flex-direction: column;
}
.subscribe-form {
    display: flex;
    width: 132px;
    align-items: center;
    gap: 24px;
}
.subscribe-form-input {
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    width: 100%;
    width: 264px;
    height: 40px;
    top: 84px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    background: transparent;
    padding-left: 16px;
    transition: border-color 250ms linear;
    outline: 0px solid transparent;
    margin-right: 24px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}


.subscribe-form-input:focus,
.subscribe-form-input:hover {
    border-color: #4D5AE5;
}
.subscribe-paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    color: #ffffff;
}
.subscribe-form-field-wrapper {
    display: flex;
}
.subscribe-form-submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 165px;
    height: 40px;
    padding: 8px, 24px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-submit-btn:hover,
.subscribe-form-submit-btn:focus {
    background-color: #404BBF;
}
.subscribe-input-icon {
    margin-left: 16px;
    
}
/*=========== /FOOTER STYLE ==========*/
/*=========== BACKDROP STYLE ==========*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

}
/*=========== /BACKDROP STYLE ==========*/
/*=========== MODAL STYLE ==========*/
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px 24px;
    background-color: #FCFCFC;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal-close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    line-height: 0;
    background-color: #E7E9FC;
    fill: #2E2F42;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
    border: none;
    fill:#FFFFFF;
    background-color: #404BBF;
}
.modal-close-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    
.review-form-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    width: 360px;
    margin-bottom: 16px;
 }
.review-form-field-label {
    display: block;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    text-align: left;
    color: #8E8F99;
    margin-bottom: 4px;
}
.review-form-input-wrapper {
    position: relative;
}
.review-form-input {
    width: 100%;
    width: 360px;
    height: 40px; 
    top: 84px; 
    border-radius: 4px; 
    border: 1px solid #2E2F4266;
    background: transparent;
    padding-left: 38px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}
.review-form-input:focus {
    border-color: #4D5AE5;
}
.review-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus 
+ .review-form-input-icon {
    fill: #4D5AE5;
}
.review-form-field-wrapper-comment {
    margin-bottom: 16px;
}
.review-form-comment {
    display: block;
    width: 100%;
    height: 120px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.17;
    text-align: left;
    color: #2E2F4266;
    border: 1px solid #2E2F4266;
    border-radius: 4px;
    background: transparent;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: 0px solid transparent;
}
.review-form-comment::placeholder {
    color: #2E2F4266;
}
.review-form-comment:focus {
    border-color: #4D5AE5;
}
.review-form-field-wrapper {
    margin-bottom: 8px;
}
.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}
.review-form-own-checkbox {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px; 
    border: 1px solid #2E2F4266;
    border-radius: 2px; 
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-checkbox:focus
+.review-form-checkbox-label
>.review-form-own-checkbox {
    border: 1px solid #404BBF;
}

.review-form-checkbox:checked
+.review-form-checkbox-label
>.review-form-own-checkbox {
    fill: #F4F4FD;
    border: none;
    background-color: #404BBF;
}

.review-form-checkbox-label {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.04em;
    line-height: 1.17;
    text-align: left;
    color: #8E8F99;
}
.review-form-own-checkbox-icon {
    fill: #F4F4FD;
    opacity: 0;
}
.review-form-checkbox:checked
+.review-form-checkbox-label 
.review-form-own-checkbox-icon {
    opacity: 1;
}
.accent-color {
    color: #4D5AE5;
}
.review-form-submit-btn {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    padding: 16px, 32px;
    border: none;
    border-radius: 4px;
    margin-top: 24px;
    margin-right: auto;
    margin-left: auto;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
    background-color: #404BBF;
}
/*=========== /MODAL STYLE ==========*/